@import './base/fonts';
@import './base/settings';
@import './base/base';
@import './pages/hero';
@import './components/sidebar';

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    // color: $primary;
    // font-size: 100px;
    font-family: $bold_font, 'Bebas Neue', cursive;
    letter-spacing: 2px;
  }
}

#services {
  background-color: #67ffe7;
}
#gallery {
  background-color: #ffa855;
}
#contact {
  background-color: #00ffa7;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding-right: 5%;
  padding-left: 3%;
}
